@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-fixed {
  @apply fixed z-[9999] bg-white bg-opacity-10;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

@layer base {
  body {
    font-family: "Inter";
  }
}

@layer components {
  .btn-temp {
    @apply text-sm px-10 py-3 text-white bg-btnGreen rounded-md font-bold;
  }

  .hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-dark transition duration-300 ease-in-out;
  }

  .hamburger-active > span:nth-child(1) {
    @apply rotate-45;
  }
  .hamburger-active > span:nth-child(2) {
    @apply scale-0;
  }
  .hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
  }

  .grid-card {
    @apply bg-third aspect-[4/3] sm:aspect-[4/3] rounded-lg overflow-hidden relative transition-all duration-500;
  }

  .grid-card-img {
    @apply w-full h-full bg-cover bg-center absolute group-hover:scale-125  transition-all duration-500;
  }
}
